.weekend-card-item {
  max-width: 280px;
  background: rgba(179, 172, 169, 0.6);
  border-radius: 14px;
}

.weekend-card-item h3 {
  font-size: 16px;
}

.weekend-card {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.weekend-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  display: block;
  border-radius: 14px 14px 0 0;
}

@media (max-width: 1024px) {
  .weekend-card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  } 

  .weekend-card-item {
    width: 220px;
    height: 90%;
  }
}  

@media (max-width: 768px) {
  .weekend-card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  } 

  .weekend-card-item {
    width: 220px;
    height: 80%;
  }
} 


@media (max-width: 480px) {
  .weekend-card {
    grid-template-columns: 1fr;
  }
}
